@import url("http://fonts.googlepais.com/earlyaccess/nanumgothic.css");
*{
	font-family: 'Nanum Gothic'
}
a {
	color: #000000;
	text-decoration: none
}
a:hover {
	color: #bbbbbb;
	text-decoration: none;
	cursor: pointer;
}

.navbar-default {
	background-color: #000000;
	border-color: #000000;
}
.navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	background-color: transparent;
	color: #bbbbbb;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus { 
    color: white;
    background-color: #000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus { 
    color: #bbbbbb;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus { 
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
}
.navbar-default .navbar-nav > li > a { 
    color: white;
}
@media (max-width: 767px) { 
	.navbar-default .navbar-nav .open .dropdown-menu > li > a{
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{
		color: #bbbbbb;
	}
}